{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
   <div class="container">
      <h1>Dashboard</h1>
      <br>
      {{ wtf.quick_form(form, form_type = 'inline') }}
      <br>
      {% if views %}
      <div class="row">
          <div class="col-sm-3">
              <div class="panel panel-default">
                  <div class="panel-body">
                        <div class="clearfix">
                           <div class="float-left">
                                 <span style="color: #00ce68;"><i class="fas fa-5x fa-hand-holding-usd"></i></span>
                           </div>
                           <div class="float-right">
                              <p class="mb-0 text-right">Total Investments</p>
                              <div class="fluid-container">
                                 <h3 class="font-weight-medium text-right mb-0">R${{views['year_total_amount']}}</h3>
                                 <div class="mb-0 text-right">({{views['year_variation_percentage']}}%)</div>
                              </div>
                           </div>
                        </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-3">
               <div class="panel panel-default">
                   <div class="panel-body">
                         <div class="clearfix">
                            <div class="float-left">
                                  <span style="color: #3c4ace;"><i class="fas fa-5x fa-money-bill-wave"></i></span>
                            </div>
                            <div class="float-right">
                               <p class="mb-0 text-right">Total Income</p>
                               <div class="fluid-container">
                                  <h3 class="font-weight-medium text-right mb-0">R${{views['year_earnings']}}</h3>
                               </div>
                            </div>
                         </div>
                   </div>
               </div>
           </div>

           <div class="col-sm-3">
               <div class="panel panel-default">
                   <div class="panel-body">
                         <div class="clearfix">
                            <div class="float-left">
                                  <span style="color: #c24c4c;"><i class="fas fa-5x fa-credit-card"></i></span>
                            </div>
                            <div class="float-right">
                               <p class="mb-0 text-right">Total Expenses</p>
                               <div class="fluid-container">
                                  <h3 class="font-weight-medium text-right mb-0">R${{views['year_expenses']}}</h3>
                               </div>
                            </div>
                         </div>
                   </div>
               </div>
           </div>

           <div class="col-sm-3">
               <div class="panel panel-default">
                   <div class="panel-body">
                         <div class="clearfix">
                            <div class="float-left">
                                  <span style="color: #8862e0;"><i class="fas fa-5x fa-bullseye"></i></span>
                            </div>
                            <div class="float-right">
                               <p class="mb-0 text-right">Investment Goal</p>
                               <div class="fluid-container">
                                  <h3 class="font-weight-medium text-right mb-0">R${{views['goal']}}</h3>
                               </div>
                            </div>
                         </div>
                   </div>
               </div>
           </div>
      </div>
      <div class="row">
            <div class="col-sm-6">
               <canvas id="canvas_investiment" style="display: block; height: 534px; width: 1068px;" width="2136" height="1068" class="chartjs-render-monitor"></canvas>
            </div>
            <div class="col-sm-6">
               <canvas id="canvas_earnings_and_expenses" style="display: block; height: 534px; width: 1068px;" width="2136" height="1068" class="chartjs-render-monitor"></canvas>
            </div>
      </div>
      {% endif %}
  </div>

  <script>
      var investments_data = {
			type: 'line',
			data: {
				labels: [{% for item in views['inv_chart_labels'] %}
                        "{{item}}",
                     {% endfor %}],
				datasets: [{
                           label: "{{views['inv_chart_label1']}}",
                           borderColor: "rgba(75,192,192,1)",
                           data: [{% for item in views['inv_chart_data1'] %}
                                    {{item}},
                                 {% endfor %}],
                           fill: false
                        },{
                           label: "{{views['inv_chart_label2']}}",
                           borderColor: "rgba(192,75,75,1)",
                           data: [{% for item in views['inv_chart_data2'] %}
                                    {{item}},
                                 {% endfor %}],
                           fill: false
                        }]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Investments'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Amount'
						}
					}]
				}
			}
		};

      var earn_and_exp_data = {
			type: 'line',
			data: {
				labels: [{% for item in views['ee_chart_labels'] %}
                        "{{item}}",
                     {% endfor %}],
				datasets: [{
                           label: "{{views['ee_chart_label1']}}",
                           borderColor: "rgba(75,192,192,1)",
                           data: [{% for item in views['ee_chart_data1'] %}
                                    {{item}},
                                 {% endfor %}],
                           fill: false
                        },{
                           label: "{{views['ee_chart_label2']}}",
                           borderColor: "rgba(192,75,75,1)",
                           data: [{% for item in views['ee_chart_data2'] %}
                                    {{item}},
                                 {% endfor %}],
                           fill: false
                        }]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Earnings and Expenses'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Amount'
						}
					}]
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas_earnings_and_expenses').getContext('2d');
			window.myLine = new Chart(ctx, earn_and_exp_data);

         var ctx2 = document.getElementById('canvas_investiment').getContext('2d');
			window.myLine2 = new Chart(ctx2, investments_data);
		};

   </script>
{% endblock %}